html,body{
	background-color: black;
	background-attachment: fixed;
	height: 100%
}
#my-name{
	background-color: black;
    color: #fedc3d;
    font-size: 38px;
    margin: 0px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#public-message-board{
	position: absolute;
    background-color: #01abaa;
    color: black;
    text-align: left;
    height: 67%;
    width: 29%;
    right: 5%;
    top: 10%;
    overflow: scroll;
    font-size: 20px;
    padding: 0.5%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#public-message-board::-webkit-scrollbar {display:none}
#public-new-message{
    position: absolute;
    width: 25%;
    height: 5%;
    top: 82%;
    left: 65%;
    font-size: 22px;
    color: #01abaa;
    background-color: #fedc3d;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#public-message-is{
	position: absolute;
	background-color: black;
	color: white;
	text-align: center;
	width: 30%;
	height: 5%;
	top: 75%;
	right: 15%;
	display: none;
}
#public-sent-flag{
	position: absolute;
    background-color: black;
    color: white;
    text-align: left;
    width: 30%;
    height: 5%;
    top: 89%;
    right: 5%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#submit-button-public{
	background-color: #fea680;
    border: none;
    color: white;
    padding: 8px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    display: block;
    width: 4%;
    height: 7%;
    top: 81%;
    right: 5%;
    position: absolute;
    border: 5px solid grey;
    border-radius: 500px;
    z-index: 1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#submit-button-public:hover{
    cursor: pointer;
    border-color:white;
    transition: borderColor, 400ms;
}
#private-message-board{
	position: absolute;
    background-color: #fedc3d;
    color: #1a2930;
    text-align: left;
    height: 67%;
    width: 39%;
    left: 20%;
    top: 10%;
    overflow: scroll;
    font-size: 20px;
    padding: 0.5%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#private-message-board::-webkit-scrollbar {display:none}
#private-new-message{
    position: absolute;
    width: 30%;
    height: 5%;
    top: 82%;
    left: 20%;
    font-size: 22px;
    color: #fedc3d;
    background-color: #01abaa;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#private-message-is{
	position: absolute;
	background-color: black;
	color: white;
	text-align: center;
	width: 40%;
	height: 5%;
	top: 75%;
	left: : 20%;
	display: none;
}
#private-sent-flag{
    position: absolute;
    background-color: black;
    color: white;
    text-align: left;
    width: 40%;
    height: 5%;
    top: 89%;
    left: 20%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#submit-button-private{
	background-color: #fea680;
    border: none;
    color: white;
    padding: 8px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    display: block;
    width: 4%;
    height: 7%;
    top: 81%;
    right: 45%;
    position: absolute;
    border: 5px solid grey;
    border-radius: 500px;
    z-index: 1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#submit-button-private:hover{
    cursor: pointer;
    border-color:white;
    transition: borderColor, 400ms;
}
#quit-button{
	background-color: #c5c1c0;
    border: none;
    color: white;
    padding: 8px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    display: block;
    width: 4%;
    height: 7%;
    top: 81%;
    right: 40%;
    position: absolute;
    border: 5px solid grey;
    border-radius: 500px;
    z-index: 1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#quit-button:hover{
    cursor: pointer;
    border-color:white;
    transition: borderColor, 400ms;
}
#quit-flag{
	position: absolute;
    background-color: black;
    color: white;
    text-align: left;
    width: 40%;
    height: 5%;
    top: 93%;
    left: 20%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#private-list-of-users{
	position: absolute;
    background-color: #01abaa;
    color: white;
    text-align: left;
    height: 3%;
    width: 21%;
    left: 38.3%;
    top: 7%;
    padding-left: 10px;
    z-index: 1;
    overflow: scroll;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#private-list-of-users::-webkit-scrollbar {display:none}
#private-chat-connection{
	position: absolute;
    background-color: black;
    color: white;
    text-align: left;
    width: 29%;
    height: 5%;
    top: 2%;
    left: 31%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#public-room{
	background-color: black;
    color: #fedc3d;
    font-size: 18px;
    margin: 0px;
    right: 5%;
    position: absolute;
    top: 5%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#private-room{
	background-color: black;
    color: #01abaa;
    font-size: 18px;
    margin: 0px;
    left: 20%;
    position: absolute;
    top: 5%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#list-of-users{
    position: absolute;
    background-color: #c5c1c0;
    color: black;
    text-align: left;
    height: 71%;
    width: 10%;
    left: 5%;
    bottom: 12%;
    overflow: scroll;
}
#list-of-users::-webkit-scrollbar {display:none}
.online_users{
    background-color: #01abaa; /* Green */
    border: none;
    color: white;
    width:100%;
    height:50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position:relative;
    z-index:1;
    font-size:25px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.online_users:hover{
    cursor: pointer;
    color: #fedc3d;
    transition: color 400ms;
}
#online-users-text{
    background-color: #01abaa;
    color: #fedc3d;
    font-size: 20px;
    margin: 0px;
    /* left: 20%; */
    position: absolute;
    top: 10%;
    left: 5%;
    border: none;
    width: 10%;
    height: 50px;
    text-align: center;
    padding-top: 17px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#members{
    background-color: #01abaa;
    color: #fedc3d;
    font-size: 16px;
    margin: 0px;
    left: 32.5%;
    position: absolute;
    top: 7%;
    height: 3%;
    padding-left: 8px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}