<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/style1.css">
    <title>Chatting Room</title>
    <script type="text/javascript">

        window.onload = function () {
            var req = new XMLHttpRequest();
            var heading = document.getElementById('my-name')
            req.onreadystatechange = function()
            {
                if(this.readyState == 4 && this.status == 200) {
                    heading.innerHTML = this.responseText;
                }
                else {
                    heading.innerHTML = "Loading ...";
                }
            };
            req.open('GET', '/get_name', true);
            req.send();
        };

        function clear_flags () {
            var private_sent_flag = document.getElementById('private-sent-flag');
            var public_sent_flag = document.getElementById("public-sent-flag");
            var quit_info = document.getElementById("quit-flag");
            var connection_info = document.getElementById('private-chat-connection');
            private_sent_flag.innerHTML = "";
            public_sent_flag.innerHTML = "";
            quit_info.innerHTML = "";
            connection_info.innerHTML = "";
        }

      function send_public_message() {

        var req = new XMLHttpRequest();
        var sent_flag = document.getElementById('public-sent-flag');
        req.onreadystatechange = function()
        {
          if(this.readyState == 4 && this.status == 200) {
            sent_flag.innerHTML = this.responseText;
            document.getElementById('public-new-message').value = "";
          } else {
            sent_flag.innerHTML = "Loading ...";
          }
        };

        req.open('POST', '/send_public', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("message=" + document.getElementById('public-new-message').value);

        public_periodic_update();

      }

      function send_private_message() {
          var req = new XMLHttpRequest();
          var sent_flag = document.getElementById('private-sent-flag');
          req.onreadystatechange = function()
          {
              if(this.readyState == 4 && this.status == 200) {
                  sent_flag.innerHTML = this.responseText;
                  document.getElementById('private-new-message').value = "";
              }
              else {
                  sent_flag.innerHTML = "Loading ...";
              }
          };

          req.open('POST', '/send_private', true);
          req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
          req.send("message=" + document.getElementById('private-new-message').value);

          private_periodic_update();

      }

      function public_periodic_update() {
          console.log("polling for public messages...");
          var req = new XMLHttpRequest();
          var message_board = document.getElementById('public-message-board');
          var list_of_users = document.getElementById('list-of-users');
          req.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {

                  var info = JSON.parse(this.responseText);

                  console.log(info);

                  messages = info[1];
                  var message_text = "";
                  for (i = 0; i < messages.length; i++) {
                      message_text += messages[i] + "<br/>";
                  }
                  message_board.innerHTML = message_text;

                  list_of_users.innerHTML = "";
                  var usernames = info[0];
                  for (i = 0; i < usernames.length; i++) {
                      var new_button = document.createElement("BUTTON");
                      new_button.id = usernames[i];
                      new_button.className = "online_users";
                      new_button.setAttribute("onclick", "join_chat(this.id);");
                      var text = document.createTextNode(usernames[i]);
                      new_button.appendChild(text);
                      list_of_users.appendChild(new_button);
                  }
              }
              else {
                  message_board.innerHTML = "Loading ...";
                  list_of_users.innerHTML = "Loading ...";
              }
          };

          req.open('GET', '/receive_public', true);
          req.send();
      }

      function private_periodic_update() {
          console.log("polling for private messages...");
          var req = new XMLHttpRequest();
          var message_board = document.getElementById('private-message-board');
          var list_of_users = document.getElementById('private-list-of-users');
          req.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {

                  if (this.responseText == "You have no private chat connection.") {
                      message_board.innerHTML = this.responseText;
                      list_of_users.innerHTML = "None.";
                  }
                  else {
                      var info = JSON.parse(this.responseText);
                      console.log(info);

                      messages = info[1];
                      var message_text = "";
                      for (i = 0; i < messages.length; i++) {
                          message_text += messages[i] + "<br/>";
                      }
                      message_board.innerHTML = message_text;

                      list_of_users.innerHTML = info[0];
                  }
              }
              else {
                  message_board.innerHTML = "Loading ...";
                  list_of_users.innerHTML = "Loading ...";
              }
          };

          req.open('GET', '/receive_private', true);
          req.send();
      }

      function join_chat(var_id) {

          var connection_info = document.getElementById('private-chat-connection');
          var chat_request = new XMLHttpRequest();

          chat_request.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  connection_info.innerHTML = this.responseText;
              }
              else {
                  connection_info.innerHTML = "Connecting ...";
              }
          };

          chat_request.open('POST', '/join_chat', true);
          chat_request.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
          chat_request.send("to_user=" + var_id);

      }

      function quit_chat() {

          var quit_info = document.getElementById("quit-flag");
          var quit_request = new XMLHttpRequest();

          quit_request.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  quit_info.innerHTML = this.responseText;
              }
              else {
                  quit_info.innerHTML = "Loading ...";
              }
          };

          quit_request.open('GET', '/quit_chat', true);
          quit_request.send();
      }

      setInterval(public_periodic_update, 5000);

      setInterval(private_periodic_update, 5000);

      setInterval(clear_flags, 10000);

    </script>

</head>
<body>

    <h2 id="my-name"></h2>

    <form action="send_public" method="post">
      <label>
        <div id="public-message-is">Your public message:</div>
          <input type="text" id="public-new-message" value="" /></label>
      <button type="button" id="submit-button-public" onclick="send_public_message();">Send</button>
    </form>
    <div id="public-sent-flag"></div>
    <div id="public-message-board"></div>
    <div id="list-of-users"></div>
    <div id="private-chat-connection"></div>
    <form action="send_private" method="post">
      <label>
        <div id="private-message-is">Your private message:</div>
          <input type="text" id="private-new-message" value="" /></label>
      <button type="button" id="submit-button-private" onclick="send_private_message();">Send</button>
    </form>
    <div id="private-sent-flag"></div>
    <div id="quit">
        <button type="button" id="quit-button" onclick="quit_chat();">Quit</button>
        <div id="quit-flag"></div>
    </div>
    <div id="private-list-of-users"></div>
    <div id="private-message-board"></div>
    <div id="private-room">Private Room</div>
    <div id="public-room">Public Room</div>
    <div id="online-users-text">Online Users</div>
    <div id="members">Members:</div>


</body>
</html>