<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Chatting Room</title>

    <script type="text/javascript">

      function send_public_message() {
        var req = new XMLHttpRequest();
        var sent_flag = document.getElementById('sent-flag');
        req.onreadystatechange = function()
        {
          if(this.readyState == 4 && this.status == 200) {
            sent_flag.innerHTML = this.responseText;
          } else {
            sent_flag.innerHTML = "Loading ...";
          }
        };

        req.open('POST', '/send_public', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("message=" + document.getElementById('new-message').value);

        periodic_update();

      }

      function periodic_update() {
          console.log("polling...");
          var req = new XMLHttpRequest();
          var message_board = document.getElementById('public-message-board');
          var list_of_users = document.getElementById('list-of-users');
          req.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  var info = JSON.parse(this.responseText.replace(/'/g, '"'));
                  console.log(info);
                  message_board.innerHTML = info[1];
                  list_of_users.innerHTML = "";
                  var usernames = info[0];
                  for (i = 0; i < usernames.length; i++) {
                      var new_button = document.createElement("BUTTON");
                      new_button.id = usernames[i];
                      new_button.setAttribute("onclick", "join_chat(this.id);");
                      var text = document.createTextNode(usernames[i]);
                      new_button.appendChild(text);
                      list_of_users.appendChild(new_button);
                  }
              }
              else {
                  message_board.innerHTML = "Loading ...";
                  list_of_users.innerHTML = "Loading ...";
              }
          };

          req.open('GET', '/receive_public', true);
          req.send();
      }

      function join_chat(var_id) {

          var connection_info = document.getElementById('private-chat-connection');
          var chat_request = new XMLHttpRequest();

          chat_request.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  connection_info.innerHTML = this.responseText;
                  if (this.responseText == "Connection successful!") {
                      console.log("connection successful");w
                  }
              }
              else {
                  connection_info.innerHTML = "Connecting ...";
              }
          };

          chat_request.open('POST', '/join_chat', true);
          chat_request.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
          chat_request.send("to_user=" + var_id);

      }


      setInterval(periodic_update, 5000);

    </script>

</head>
<body>

    <form action="send_public" method="post">
      <label>Your message:<input type="text" id="new-message" value="" /></label>
      <button type="button" id="submit-button-public" onclick="send_public_message();">Click</button>
    </form>
    <!--TODO make the sent flag disapper after a while, or just delete it later-->
    <div id="sent-flag"></div>
    <div id="public-message-board"></div>
    <div id="list-of-users"></div>
    <div id="private-chat-connection"></div>
    <div id="private-message-board"></div>


</body>
</html>