<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Web Messenger Login Form</title>

    <script type="text/javascript">


      function validate() {
        var req = new XMLHttpRequest();
        var result = document.getElementById('result');
        req.onreadystatechange = function()
        {
          if(this.readyState == 4 && this.status == 200) {
            result.innerHTML = this.responseText;
          } else {
            result.innerHTML = "Processing ...";
          }
        };

        req.open('POST', '/', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("name=" + document.getElementById('name').value);
      }
    </script>

  </head>

  <body>

    <div id="welcome">Welcome to Web Messenger!</div>

    <form action="login" method="post" id="form">
      <label id="label">
        <div id="nameis">Your Name Is:</div>
        <input type="text" id="name" value="" />
      </label>
      <button type="button" id="submit-button" onclick="validate();">Validate</button>
      <div id="result"></div>
    </form>

  </body>

</html>